@import "tailwindcss";

@theme inline {
  --color-background: #050509;

  /* Font families */
  --font-header: var(--font-bruno-ace-sc), ui-serif, serif;
  --font-body: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
  --font-accent: var(--font-pirata-one), cursive;
}

body {
  background-color: var(--color-background);
  color: #ffffff;
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}